#div1
{
	margin-left:50px;
}
label
{
	color:red;
}
.age
{
	width:100%;
}
.tbl
{
	float:left;
}
#mypara
{
	font-size:40px;
	padding-top:100px;
	padding-left:0px;
}
.MM
{
	float:left;
}
#pic1
{
	height:150px;
	width:200px;
	margin-right:80px;
	margin-top:60px;
}
#form1
{
	width:700px;
}
