.age
{
	width:100%;
}
#div1
{
	margin-left:50px;
}
#tbl1
{
	color:red;
}
.tbl
{
	float:left;
}
#mypara
{
	padding-left:50px;
	padding-top:100px;
	font-size:40px;
}
.MM
{
	float:left;
}
#pic1
{
	height:180px;
	width:200px;
	margin-top:50px;
	margin-right:80px;
}

