<div style='padding:60px'>
	<h4><p>Lifeline Blood Bank is the  product that aimed at promoting the awareness of blood donation among the public.It is done by a small group of students during 2019.</p>
		<p>Blood is recognized as the most precious element that sustaning life.It is essential to life.It plays an important role in regulating the body's systems and maintaining homeostasis.It also removes the waste material,such as carbon dioxide,urea and lactic acid.
		The main objective of this application is to automate the complete operations of the blood bank.</p></h4>
</div>
