<div class='row justify-content-center' style='width:100%'>
	<button class='btn btn-danger'onclick="window.location.href='http://localhost:3000/#!admin/newAdmin'">create new admin</button>
	<br>
	<pre>      </pre>
	<button class='btn btn-danger'onclick="window.location.href='http://localhost:3000/#!admin/donarList'">Donars list</button>
	<br>
	<pre>      </pre>
	<button class='btn btn-danger'onclick="window.location.href='http://localhost:3000/#!admin/requestList'">Patient list</button>
	<br><pre>      </pre>
	<button class='btn btn-danger'onclick="window.location.href='http://localhost:3000/#!admin/feedBack'">FeedBack list</button>
</div>
