<link rel='stylesheet' href='/stylesheets/contactUs.css'>
<form method='post' action='contactus'>
<div>
    <h1>CONTACT US :</h1>
    <hr>
    <div class="row">
        <div class="col-md-6 MM">
<img src='/images/thankyou.jpg' id='pic1'> 
<p>ADDRESS:LIFELINE BLOOD BANK NEAR SOHANA HOSPITAL, MOHALI</p>
<p>EMAIL-ID: lifelinebloodbank@gmail.com</p>
<p>CONTACT NO: 9876543210</p>
        </div>
	
        <div class="col-md-6 MM">
            <div class="form-group">
                <label>FULL NAME:</label>
                <input type="text" class="form-control" name='myName'>

            </div>
            <div class="form-group">
                    <label>EMAIL-ID:</label>
                    <input type="email" class="form-control" name='myEmail'>
    
                </div>
                <div class="form-group">
                        <label>PHONE-NO:</label>
                        <input type="tel"maxlength='10' class="form-control" name='myPhone'>
        
                    </div>
                    

                    <div class="form-group">
                            <label>CITY:</label>
                            <select style='width:470px' id="city" name='myCity'>
                                <option>ambala</option>
                                <option>chandigarh</option>
                                <option>mohali</option>
                                <option>zirakpur</option>
                                <option>panchkula</option>


                            </select></div>
                            <div class="form-group">
                                    <label>MESSAGE:</label>
                                    <textarea class="form-control" maxlength='500' rows="5" name='myText'></textarea>
                                </div>
        <div class="form-group">
		<input class="btn btn-primary btn-block" type='submit'>
            </div>
                        </div>
        </div>
    </div>	

</div>
</form>

