<link rel='stylesheet' href='/stylesheets/donate.css'>
<div id='div1'>
	<img id='pic1' src='/images/download.jpg' class='MM'>
	<form id='form1' method='post' action='donate' class='MM'>
		<table class='tbl'>
			<tr>
				<td>
					<label>Enter your name : </label>
				</td>
				<td>
					<input type='text' placeholder='name' name='myName' required>	
				</td>
			</tr>
			<tr>
				<td>
					<label>Enter your age : </label>	
				</td>
				<td>
					<input type='number' max='100' min='18' class='age' placeholder='age must be 18+' name='myAge'>
				</td>
			</tr>
			<tr>
				<td>
					<label>Enter your gender : </label>
				</td>
				<td>
					<select class='age' name='myGender'>
						<option>Male</option>
						<option>Female</option>
						<option>Others</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>
					<label>Enter your bloodGroup : </label>
				</td>
				<td>
					<select class='age' name='myBloodGroup'>
						<option>O+</option>
						<option>A+</option>
						<option>B+</option>
						<option>AB+</option>
						<option>O-</option>
						<option>A-</option>
						<option>B-</option>
						<option>AB-</option>

					</select>
			
				</td>
			</tr>
			<tr>
				<td>
					<label>Enter your contact number :</label> 
				</td>
				<td>
					<input type='tel' maxlength='10' pattern="[1-9]{1}[0-9]{9}" name='myPhone' placeholder='your mobile number'>
				</td>


			</tr>

			<tr>
				<td>
					<label>Enter your Email : </label>
				</td>
				<td>
					<input type='email' placeholder='mailing address' name='myEmail' required>
				</td>
			</tr>
			<tr>
				<td>
					<label>Enter your disability(if any) : </label>
				</td>
				<td>
					<input type='text' placeholder='disability' name='myDisabilities'>
				</td>
			</tr>
			<tr>
				<td>
					<label>Enter your address : </label>
				</td>
				<td>
					<input type='text' placeholder='home address' name='myAddress'>
				</td>
			</tr>
			<tr>
				<td colspan='2'>
					<input type='submit' value='submit your response'>
				</td>
			</tr>
		</table>
		<div class='tbl'>
			<p id='mypara'>Donation page</p>
		</div>
	</form>
</div>
