<link rel='stylesheet' href='/stylesheets/ho.css'>
<div id='mydiv'width='200px'>
<table>
	<tr>
		<td>
			<div id='notRequire'>
				<img src='/images/donate.jpg' height='200px' width='200px' id='pic1'>
			</div>
		</td>
		<td>
			<button class='needdonbt btn-danger' onclick="window.location.href='http://localhost:3000/#!donate'">Donate Blood</button>
			<button class='needdonbt btn-danger' onclick="window.location.href='http://localhost:3000/#!request'">Need Blood</button>
		</td>
		<td>
			<img src='/images/request.jpg' width='200px' id='pic2'>
		</td>
	</tr>
</table>

</div>
